@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: #211D40;
    /* background-image: url(../assets/imgs/backcruzadinha.png); */
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 0px;
  }
  
  .header {
    /* border-bottom: 2px solid black; */
    /* position: fixed; */
    /* background-color: #161618; */
    width: 100%;
    display: flex;
    background-color: #BF0B2C;
  }
  
  .header .container {
    justify-content: space-between;
  }
  
  .header a {
    text-decoration: none;
    color: #FFEAD4;
  }
  
  .agora {
    font-weight: 800;
  }
  
  .navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #FFEAD4;
  }
  
  
  .titulo {
    color: #FFEAD4;
    width: fit-content;
    font-weight: 800;
  }

.all {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding: 10px;
    padding-top: 30px;
}

.box {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 1005px;
    /* background-color: rgba(255, 234, 212, 0.5); */
    background-repeat: no-repeat;
    border-radius: 20px;

}
.box input{
    text-align: center;
    font-size:15px;
    color: #BF0B2C;
    border: solid 0.5px black;
}
::placeholder{
    color: black;
}
.box button{
    background: rgba(204, 204, 204, 0.869);
    border-top: white 2px solid;
    border-left: white 2px solid;
    border-bottom: rgba(204, 204, 204, 0.869) 2px solid;
    border-right: rgba(204, 204, 204, 0.869) 2px solid;
    color: #211D40;
    border-radius:5px;
}

.palavras input{
    font-size: 17px;
}
.palavras {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(17, 40px);
    grid-template-columns: repeat(18, 40px);
    /* background-image: url(../assets/imgs/backcruzadinha.png); */
}

#ipt_resposta {
    width: 300px;
    height: 30px;
    color: #211D40;
    border-radius: 5px;
    background-color: rgba(204, 204, 204, 0.869);
    border-top: 3px solid white;
    border-left: 3px solid white;
}
/* .palavras{
    /* border-bottom: solid 3px #1e1c1d ; */
/* } */
.container_resposta{
    padding-bottom: 50px;
}

.container_resposta p {
    padding: 0px 50px;
    text-justify: justify;
}

.container_resposta h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    color: white;
}
.dicas h1{
    font-size: 30px;
    color: black;
    font-weight: 1000;
}
.dicas {
    /* background-color: #BF0B2C; */
    background-image: url(../assets/imgs/backcruzadinha.png);
    background-size: cover;
    width: 600px;
    height: 800px;
    margin-left: 10px;
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 11pt;
    
}
.dicas p{
    font-weight: 550;
}

.tip {
    font-size: 130%;
    color: black;
    font-weight: 500;
}

.resposta {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.letter {
    height: 40px;
    width: 40px;
}


.dunk {
    display: flex;
    grid-row: 8;
    grid-column: 7;
}

.offwhite {
    display: flex;
    grid-row: 3;
    grid-column: 6;
}

.benejerrys {
    grid-row: 6;
    grid-column: 9;
}

.jordan {
    grid-row: 12;
    grid-column: 6;
}

.airforce1 {
    grid-row: 2;
    grid-column: 11;
}
.low{
    grid-row: 1;
    grid-column: 9;
}
.mid {
    display: flex;
    grid-row: 8;
    grid-column: 13;
}

.high {
    grid-row: 3;
    grid-column: 10;
}

.petermoore {
    display: flex;
    grid-row: 9;
    grid-column: 8;
}

.bowerman {
    display: flex;
    grid-row: 13;
    grid-column: 5;
}

/* FOOTER  */
.footer {
    background-color: #BF0B2C;
    height: 100%;
    color: #FFEAD4;
    display: flex;
    font-size: 15px;
  }
  
  .footer .container {
    justify-content: center;
    text-align: center;
  }
  
  .footer .container .version {
    font-size: 12px;
  }

  #dica1, #dica2, #dica3, #dica4, #dica5, #dica6, #dica7, #dica8, #dica9, #dica10{
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    border-radius: 5px;
  }

  .analytics{
    display: flex;
    justify-content: space-between;
  }
  .analytics .container{
    display: flex;
    width: 80%;
    justify-content: space-between;
  }
  .caixa{
    margin: auto;
    width: 300px;
    height: 170px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-right: 15px;
  }