body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: gray
}


.header {
  /* border-bottom: 2px solid black; */
  /* position: fixed; */
  /* background-color: black; */
  width: 100%;
  display: flex;
}

h1{
  color: #F9C802;
  font-weight: 1000;
  font-size: 30pt;
}
.container {
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 0px;
  color: white;
}

.header .container {
  justify-content: center;
}
     /* banner  */
.banner {
  display: flex;
  padding-top: 88px;
}

.banner .container{
  display: flex;
  padding: 40px;
  justify-content: center;
}

h2{
  color: #2C4690;
  font-weight: 1000;
  font-size: 25pt;
}

.banner p {
  text-align: justify;
  font-weight: 700;
  font-size: 15pt;
}

.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  margin-top: 10px;
  color: black;
  font-weight: 1000 ;
}

p{
  padding: 40px 40px 40px 40px;
}

#grateful{
  padding-bottom: 100px; 
  width: 60%; 
  border-radius: 20px; 
}

#dead{
  width: 400px;
}

#aa{
  text-align: center;
}